{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="home">
    <h1>Bienvenue</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae, mollitia deserunt repudiandae sit repellendus <br> delectus aperiam veniam hic non corrupti?
         Perspiciatis, magni vitae! Quibusdam quam nihil labore alias, voluptas error?</p>
</section>

{% endblock %}
